@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: black;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: white;
  padding: 4px 30px;
  outline: none;
  &:hover, &:active {
    &:not([disabled]) {
      color: white;
      background-color: black;
      transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -moz-transition-duration: .2s;
    }
  }
  &:disabled {
    opacity: 0.39;
  }
}

hr {
  margin-top: 0;
}

.input-group {
  margin: 1em auto;
  display: inherit;
  width: 90%;
  justify-content: space-between;
  label {
    display: block;
    text-decoration: underline;
  }
  button {
    display: block; // yo
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.questions-enter {
  opacity: 0.01;
}

.questions-enter.questions-enter-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}

.questions-leave {
  opacity: 1;
}

.questions-leave.questions-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

p.questions {
  font-style: italic;
}

p.authors {
  font-family: 'News Cycle', sans-serif;
}

#emblem, li {
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    &:after {
      width: 99%;
    }
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    background-color: #ffffff;
    width: 0;
    transition: width .25s;
  }
}

#clickprompt {
  max-width: 80%;
  text-align: center;
}

////////////////////////////////
.shape {
  margin: 0 auto;
  position: relative;
}

$circle-size: 100px;
$colors: #FFD700, #FFF8DC, #DB7093, #C2B7FE, #95A9FF;
$shapes: '\f005', '\f0c8', '\f1db', '\f096', '\f1d8', '\f1cb';
$shape-count: 15;
@for $i from 1 through $shape-count {
  $shape-size: random(10) + 10;
  $rotation: random(360);
  $speed: 40 + random(10);
  $color-key: random(length($colors));
  $shape-color: nth($colors, $color-key);
  $shape-key: random(length($shapes));
  $shape-type: nth($shapes, $shape-key);
  $text: random(10);

  @keyframes shape-#{$i} {
    0% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 0}deg);
    }
    100% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 360}deg);
    }
  }

  .shape-container--#{$i} {
    animation: shape-#{$i} #{$speed}s linear infinite;

    .random-shape:after {
      margin: #{$shape-size}rem;
      color: $shape-color;
      font-size: #{$shape-size * 0.2}rem;
      content: '?'
    }
  }
}

