// Default Color Palette

$white : #ffffff;
$black : #000000;
$brown : #b52121;
$gold  : #ffbb00;
$blue  : #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink  : #e83e8c !default;
$red   : #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green : #28a745 !default;
$teal  : #20c997 !default;
$cyan  : #17a2b8 !default;