@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'iphone.scss';
@import 'treasureChest.scss';

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

body {
  color: black;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @media only screen and (max-width: 767px) {
    & {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 991px) {
    & {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 1199px) {
    & {
      font-size: 18px;
    }
  }
}

p {
  font-weight: 300;
}

a {
  color: inherit;
}

// button { color: black; font-family: 'Nunito', sans-serif; text-decoration: none; text-transform: uppercase; border: 2px solid black; border-radius: 20px; transition-duration: .2s; -webkit-transition-duration: .2s; -moz-transition-duration: .2s; background-color: white; padding: 4px 30px; outline: none; &:hover, &:active { &:not([disabled]) { color: white; background-color: black; transition-duration: .2s; -webkit-transition-duration: .2s; -moz-transition-duration: .2s; } } &:disabled { opacity: 0.39; } }

h1 {
  font-style: italic;
  font-weight: normal;
}

#hero-title {
  font-weight: 700;
  font-size: 70px;
  color: #f3f1ec;
  letter-spacing: 1.86px;
  line-height: 76px;
  margin-bottom: 0;
  @media only screen and (max-width: 767px) {
    & {
      font-size: 22px;
      letter-spacing: 0.3px;
      line-height: 28px;
    }
  }
  @media only screen and (max-width: 991px) {
    & {
      font-size: 42px;
      letter-spacing: 1.2px;
      line-height: 48px;
    }
  }
  @media only screen and (max-width: 1024px) {
    & {
      font-size: 42px;
      letter-spacing: 1.2px;
      line-height: 48px;
    }
  }
}

#hero-subtitle {
  margin-bottom: 0.5em;
}

#learn-more-link {
  &:hover {
    color: unset;
    text-decoration: unset;
  }
}
#arrow-down {
  animation: arrow-bounce 2s infinite;
}
@keyframes arrow-bounce {
  0% {
    transform: translate(-10%, 0);
  }
  50% {
    transform: translate(-10%, -4px);
  }
  100% {
    transform: translate(-10%, 0);
  }
}

#welcome {
  font-weight: normal;
  text-align: center;
}

#home-actions {
  margin-top: 4.5rem;
}

.input-group {
  margin: 1em auto;
  display: inherit;
  width: 90%;
  justify-content: space-between;
  label {
    display: block;
    text-decoration: underline;
  }
  button {
    display: block; // yo
  }
}

#about {
  background-color: #343A3F;
  padding-bottom: 4.5em;
  color: white;
}

#questions-list {
  margin-top: 3vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-end;
  clear: both;
  @media (max-width: 768px) {
    align-items: unset;
  }
}

#no-questions-msg {
  @media screen and (min-width: 768px) {
    & {
      display: none;
    }
  }
}

.question {
  background-color: #efefef;
  border-radius: 0.6em;
  color: #343A3F;
  padding: 1em 0.5em;
  display: inline-block;
  width: 30rem;
  margin: auto;
  p:nth-child(2) {
    display: none;
  }
  p:nth-child(3) {
    padding-left: 1em;
  }
  p:nth-child(4) {
    padding-left: 1.5em;
    font-weight: bold;
  }
  p:last-child {
    float: right;
    padding-right: 0.5em;
    span {
      margin-right: 1em;
    }
  }
  @media screen and (max-width: 568px) {
    & {
      width: 100%;
    }
  }
}

.avatar-container {
  // display: inline-flex;
  display: none;
  position: absolute;
  right: 35rem;
  z-index: 1;
  @media screen and (max-width: 700px) {
    & {
      justify-content: center;
      border: 3px solid #343A3F;
      border-radius: 50%;
      overflow: hidden;
      height: 5rem;
      width: 5rem;
      float: left;
      position: unset;
      img {
        position: relative;
        top: -1.5em;
      }
    }
  }
}
.questions-enter {
  opacity: 0.01;
}

.questions-enter.questions-enter-active {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}

.questions-leave {
  opacity: 1;
}

.questions-leave.questions-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

p.questions {
  font-style: italic;
}
span.authors {
  padding-left: 2em;
}

#clickprompt {
  max-width: 80%;
  text-align: center;
}

////////////////////////////////
.shape {
  position: relative;
}
// Todo, fix Safari Mobile rendering of overflow

$colors: #F2BB2A, #FFF8DC, #DB7093, #C2B7FE, #95A9FF;
$shapes: '\f005', '\f0c8', '\f1db', '\f096', '\f1d8', '\f1cb';
$shape-count: 8;
@for $i from 1 through $shape-count {
  $shape-size: random(10) + 10;
  $rotation: random(360);
  $speed: 40 + random(10);
  $color-key: random(length($colors));
  $shape-color: nth($colors, $color-key);
  $shape-key: random(length($shapes));
  $shape-type: nth($shapes, $shape-key);
  $text: random(10);

  @keyframes shape-#{$i} {
    0% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 0}deg);
    }
    100% {
      transform: translate3d(0, 0, 0) rotate(#{$rotation + 360}deg);
    }
  }

  .shape-container--#{$i} {
    animation: shape-#{$i} #{$speed}s linear infinite;

    .random-shape:after {
      // margin: #{$shape-size}rem;
      color: $shape-color;
      font-size: #{$shape-size * 0.2}rem;
      content: '?'
    }
  }
}

#or-container {
  text-align: center;
  color: #6a737c;
  font-variant: small-caps;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}

#or-hr {
  margin-bottom: 0;
  position: relative;
  top: 28px;
  height: 0;
  border: 0;
  border-top: 1px solid #e4e6e8;
  color: #9fa6ad;
  background-color: #9fa6ad;
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
}

#or {
  display: inline-block;
  position: relative;
  padding: 2px;
  background-color: #FFF;
  margin: auto;
  border: 0;
  vertical-align: baseline;
  text-align: center;
  font-variant-ligatures: normal;
  font-variant-caps: small-caps;
  font-variant-numeric: normal;
}

#home-section-1 {
  margin-bottom: 10vw;
}

#home-section-2 {
  margin-bottom: 10vw;
}


.pop-marker {
  color: white;
  border-bottom: 1px dotted white;
  margin-left: 1em;
  padding: 0.25em;
  border-radius: 25%;
  background: lightgray;
}

#dashboard {
  ul {
    list-style: none;
  }
}

#sign-in-form, #sign-up-form {
  border-top: 1px solid #d8dee2;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d8dee2;
}

//////////////////////////
//  Bootstrap Overrides //
//////////////////////////
.card {
  border-color: #FFF;
}

input.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: unset;
  &:placeholder-shown {
    font-family: 'Lato';
  }
}

.form-text {
  padding-left: 1.25rem;
}

.alert {
  text-transform: capitalize;
}

#room-phrase > div.col {
  padding: 0;

  input {
    padding-left: 1.5rem;
  }
}

a:-webkit-any-link {
  cursor: pointer;
}

.card {
  border: none;
  background: none;
}

a:hover {
  text-decoration: none;
  color: $cyan;
}

a:visited, a:focus, .btn:focus, .btn:visited, input {
  outline: none;
  box-shadow: unset;
}

a.active {
  position: relative;
  &:hover {
    color: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    left: -3.5%;
    bottom: -4px;
    width: 110%;
    height: 2px;
    background-color: $cyan;
  }
}
